{% extends 'base.html.twig' %}
{% block title %}Modifier mon compte{% endblock %}
{% block body %}



        <div class="form-form registe">
        <h2 class= "aide"> Modifier mes informations </h2>

        {{ form_start(form)}}
        <div class="tru">
        {{form_row(form.nom, { 'label' : ' ' , 'attr' :
        { 'placeholder' : 'User Name ...', 'class' :'form-control '}})}}
        </div>
        <div class="tru">
        {{form_row(form.prenom, { 'label' : ' ', 'attr' :
         { 'placeholder' : 'Email ...', 'class' :'form-control'}})}}
         </div>
        <div class="tru">
        {{form_row(form.email, { 'label' : ' ', 'attr' :
        { 'placeholder' : 'nom ...', 'class' :'form-control'}})}}
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Enregistrer </button>
        {{form_end(form)}}
        </div>

        <div class="sup">
            <h2 class ="aide">Supprimer mon compte </h2>
            <p>Cette action entrainera une destruction de vos données ,vous n'aurez donc plus accès à celles-ci.</p>
           si vous voulez le supprimer cliquez ici : <a href="{{ path('delete_user', {'id': app.user.id}) }}">Supprimer Mon Compte</a>
        </div>

{% endblock %}